<div class="container">
    <div class="container-fluid">
        <%- include('partials/messages')%>
        <%if(!add){%>
        <form action="/Admin/student_register" method="POST" enctype="multipart/form-data">
            <%}%>
            <%if(!add){%>
            <form action="/Student/student_register" method="POST">
                <%}%>
                    <%=this%>
                <div class="form-group">
                    <!-- <label for="Name">Name</label> -->
                    <input type="file" id="img" class="form-control" name="img"
                        value="<%= typeof this.name!='undefined'?this.name:''%>" />
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Enter Name" name="name"
                        value="<%= typeof this.name!='undefined'?this.name:''%>" />
                </div>
                <div class="form-group">
                    <label for="FName">Father's Name</label>
                    <input id="fname" type="text" class="form-control" placeholder="Enter Father's Name" name="fname"
                        value="<%= typeof fname!='undefined'?fname:''%>" />
                </div>
                <div class="form-group">
                    <label for="DOB">DOB</label>
                    <input type="date" id="Dob" class="form-control" placeholder="Enter Dob" name="Dob"
                        value="<%= typeof Dob!='undefined'?Dob:''%>" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" placeholder="Enter Email" name="email"
                        value="<%= typeof email!='undefined'?email:''%>" />
                </div>
                <div class="form-group">
                    <label for="Contact">Contact</label>
                    <input id="Contact" type="number" class="form-control" placeholder="Enter Contact" name="Contact"
                        value="<%= typeof Contact!='undefined'?Contact:''%>" />
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input id="password" class="form-control" type="password" placeholder="Enter Password"
                        name="password" value="<%= typeof password!='undefined'?password:''%>" />
                </div>
                <div class="form-group">
                    <label for="Password2">Password</label>
                    <input id="password2" class="form-control" type="password" placeholder="Re-enter Password"
                        name="password2" value="<%= typeof password2!='undefined'?password2:''%>" />
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    <input id="Address" class="form-control" placeholder="Enter Address" name="Address"
                        value="<%= typeof Address!='undefined'?Address:''%>" />
                </div>
                <%if(!add){%>
                <button type="submit" class="btn btn-primary btn-block">Save</button>

            </form><br>
            <a class="btn btn-block btn-danger" href="/Admin/logout" type="button">Log Out</a>
            <%}%>
        <%if(add){%>
            <button type="submit" class="btn btn-primary btn-block">Update</button>

        </form><br>
        <a class="btn btn-block btn-danger" href="/Student/logout" type="button">Log Out</a>
        <%}%>
    </div>
</div>